@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}


#root {
  width: 95%;
}

#root>* {
  margin-bottom: .5vw;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(6, 106, 188, 0.8);
  height: 7vh;
  z-index: 9999;
  padding: 0 2vw;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 2vw;
}

nav li:first-child {
  margin-left: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 1vh 2vw;
  font-size: 2.2vh;
  text-align: center;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}

body {
  margin: 0;
  padding: 7vh 2vw 2vw 2vw;
  font-family: 'Prompt', sans-serif;
  text-align: justify;
  line-height: 1.5;
}
