@tailwind base;
@tailwind components;
@tailwind utilities;
.background{
  background-image: url('./components/images/pexels-photo-207636.jpeg');
  height: 90.5vh;
  background-size: cover;
  overflow: hidden;
}